<div id="center_container">
  <div id="container" [style]="outlineColor">


    <div id="card_container">
      <div id="display_column">
        <app-pokemon-header></app-pokemon-header>

        <div id="pokemon_container">
          <span id="illustrator">By: {{illustrator}}</span>
        </div>


        <div id="card_content">
          <app-ability></app-ability>
          <app-ability></app-ability>
          <app-move></app-move>
          <app-move></app-move>
        </div>
      </div>
    </div>
  </div>
</div>
