#card_container {
  background-color: blueviolet;
  height: 1030px;
  width: 745px;
  border-radius: 45px;
}

#container {
  border: #ffe658 45px solid;
  border-radius: 45px;

  width: 745px;
  background-color: #ffe658;
}

#center_container {
  display: flex;
  justify-content: center;
}



* {
  font-family: "Gill Sans MT Ext Condensed Bold", fantasy;
}

span {
  font-size: xxx-large;
}

#pokemon_container {
  background-image:  url("../resources/peter.png"), url("../resources/backgrounds/family_guy.jpg");


  background-position: center, center;
  background-size: contain, cover;
  background-repeat: no-repeat, repeat;
  background-color: aquamarine;
  height: 400px;
  width: 675px;
  margin-bottom: 25px;
}

#display_column{
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


#card_content {
  font-family: "Gill Sans MT", fantasy;
}

#illustrator {
  font-family: "Gill Sans MT", fantasy;
  font-size: medium;
}
