<div id="center_container">
  <div id="container">
    <div id="card_container">


      <div id="display_column">

        <app-pokemon-header
          pokemonName="name"
          pokemonType="type"
          pokemonHP="0"/>


        <div id="pokemon_container">
          <span id="illustrator">By: </span>
        </div>


        <div id="card_content">


          <app-ability
            abilityName="name"
            abilityDescription="description"/>
          <app-move
            moveName="name"
            moveDescription="description"/>



        </div>






      </div>
    </div>
  </div>
</div>
