<div id="center_container">
  <div id="container">
    <div id="card_container">


      <div id="display_column">
        <app-pokemon-header
          pokemonName="Petuh"
          pokemonType="Guy/Fortnite"
          pokemonHP="420"/>

        <div id="pokemon_container">
          <span id="illustrator">By: Simon</span>
        </div>


        <div id="card_content">
          <app-ability abilityName="Resistance" abilityDescription="Petuh is mentally Ill, he is immune pychic damage"></app-ability>
          <app-ability abilityName="In fortnite" abilityDescription="Petuh is part of the fortnite lore, all fortnite cards are twice as effective when he is played"></app-ability>
          <app-move moveName="Hey Petuh" moveDescription="Petuh summons his friends to beat you up, his friends stay for an extra turn afterwards and deal the same damage again" moveDamage="50"></app-move>
          <app-move moveName="This Reminds Me" moveDescription="Petuh has a flashback to an earlier scene, switch one enemy card with a card of your choice"></app-move>
        </div>






      </div>
    </div>
  </div>
</div>
